#box{
    background-color: #3f51b5;
    width: 10%;
    border-radius: 10px;
    float: right;
    color: white;
}

button {
    border: none;
    background: none;
    color: white;
}

h4{
    margin: 0;
}