.artists, .favorit{
  display: inline-block;
  animation: slide-bottom 1s 1s cubic-bezier(0, 0.460, 0.450, 0.940) both;
  transition: .5s;
  width: 25%;
  text-align: center;
  border: 4px black solid;
  border-radius: 2%;
  transform: translateY(100px);
  background-color: white;
  transition: width .5s, background-color .5s .4s, border .5s .4s;
}

.artists > a > span, .favorit > a > span {
  display: inline-block;
  margin: 5% 0px;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 3px;
}

.artists{
  float: left;
  margin-left: 15%;
}

.favorit{
  float: right;
  margin-right: 15%;
}

.artists:hover, .favorit:hover{
    width: 27%;
    background-color: orange; 
    border: orange 4px solid;
    animation: slide-bottom paused, blip 1s 2s running infinite linear alternate;
}

.home-name > p {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7em;
  opacity: 0.3;
}



@keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }

  @keyframes blip {
    0%{
      border-color: orange;
      background-color: orange;
    }

    100%{
      border-color: orangered;
      background-color: orangered;
    }
  }